@import "styles/theme";

// /* The '&' is a shorthand for the containing element,
//   so for example a '&.user-list' inside .game will compile to
//   .game.user-list

//   for more information visit https://sass-lang.com/guide
//  */

.groupforming {
  &.main-container {
    display: flex;
    flex-direction: row;
    top: 40px;
    height: fit-content;
    background: rgba(250, 250, 251, 0.9);
    border-radius: 12px;
    position: relative;
    width: fit-content;
    justify-content: center;
  }

  &.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 95%;
  }

  &.main {
    //contains group icon, group title. guests container and buttons
    display: flex;
    flex-direction: column;
    align-content: center;
    display: flex;
    align-items: center;
  }

  &.preferences {
    // contains guests
    display: flex;

    flex-direction: column;
    background: #f2f2f2;
    filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.25));
    border-radius: 8px;
    width: 460px;
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 20px;
    min-height: 250px;
    max-height: 290px;
    overflow-y: visible;
    //background: rgba(43, 43, 186, 0.9);
    margin-top: 20px;
  }

  &.titles {
    //Guests
    font-size: 18px;
    text-align: left;
    font-weight: 600;
    height: 15%;
  }

  &.text {
    // GROUPName under the icon
    font-weight: 700;
    font-size: 22px;
    text-align: center;
    // margin-bottom: 20px;
    //if title is too long, make it smaller
  }

  &.info {
    font-size: 11px;
    font-weight: 100;
    width: 70%;
    margin-top: 20px;
    text-align: justify;
    color: #666666;
  }

  &.group-join-requests {
    //this is the container for the guest container : guest names and delete button
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    max-height: 200px;
  }

  /* Groups */

  &.group-join-request {
    //this is the container for the guest container : guest name and delete button

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-radius: 5px;
    background: rgba(217, 217, 217, 0.15);
    border: 1px solid rgba(102, 102, 102, 0.15);
    border-radius: 8px;
    color: #333333;
    font-style: normal;
    font-size: 20px;
    height: 40px;
  }
  &.ready {
    background-color: rgb(190, 236, 190);
    color: white;
  }

  &.reply-button {
    &:hover {
      transform: translateY(-2px);
    }
    &:disabled {
      cursor: default;
      opacity: 0.25;
      &:hover {
        transform: none;
      }
    }
    cursor: pointer;
    color: #92929d;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    //border-radius: 50%;
    // border: 2px solid #92929d;
    border: none;
  }

  .group-icon {
    font-family: "Material Icons";
    font-style: normal;
    font-size: 70px;
    text-align: center;
    color: #333333;
    border: none;
    width: 82px;
    margin: auto;
  }

  &.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 8%;
    gap: 25px;
  }

  &.general-button {
    background: #333333;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    border-radius: 32px;
    border: 0px;
    width: 40%;
    cursor: pointer;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    padding: 10px;
    text-align: center;
    color: #ffffff;
    cursor: pointer;
  }

  &.general-button[disabled] {
    background: #bab9b9;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    cursor: default;

    &:hover::after {
      content: "Please wait until at least one guest joins and ensure that all your guests are ready.";
      position: absolute;
      transform: translate(5%, 60%);
      background: #f2f2f2;
      color: #666666;
      padding: 5px;
      border-radius: 5px;
      font-size: 12px;
      z-index: 1;
      text-align: left;
      font-weight: 100;
      width: 200px;
      height: 50px;
      word-wrap: break-word;
      border: 1px solid #e1e1e1;
    }

    &.ingredients:hover::after {
      content: "Please contribute with at least one ingredient.";
      position: absolute;
      transform: translate(30%, 10%);
      background: #f2f2f2;
      color: #666666;
      padding: 5px;
      border-radius: 5px;
      font-size: 12px;
      z-index: 1;
      text-align: left;
      font-weight: 100;
      width: 200px;
      height: 35px;
      word-wrap: break-word;
      border: 1px solid #e1e1e1;
    }
  }

  &.cancel-button {
    background: #bab9b9;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    border-radius: 32px;
    border: 0px;
    width: 40%;
    height: 100%;
    cursor: pointer;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 50px;
    text-align: center;
    color: #ffffff;
  }

  &.delete-button {
    background: #333333;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    border-radius: 32px;
    border: 0px;
    width: 40%;
    cursor: pointer;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    padding: 10px;
    text-align: center;
    color: #ffffff;
    cursor: pointer;
  }

  &.delete-button[disabled] {
    background: #f2f2f2;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    border-radius: 32px;
    border: 0px;
    width: 40%;
    height: 100%;
    cursor: pointer;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    color: #ffffff;

    &:hover::after {
      content: "Deleting a group with guests highlighted in green is not possible.";
      position: absolute;
      transform: translate(-160%, 55%);
      background: #f2f2f2;
      color: #666666;
      padding: 5px;
      border-radius: 5px;
      font-size: 12px;
      z-index: 1;
      text-align: left;
      font-weight: 100;
      width: 180px;
      height: 55px;
      word-wrap: break-word;
    }
    
  }

  

  

  &.sidebar {
    display: flex;
    flex-direction: column;
    background: #fefefe;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    align-items: center;
    padding: 1rem;
    padding-top: 1.5rem;
    min-width: fit-content;
  }

  &.sidebar-buttons {
    display: flex;
    align-items: center; //allign text in x axis
    justify-content: center; // text in y axis
    width: 217.17px;
    height: 48.62px;
    background: rgba(151, 151, 151, 0.1);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    margin: 0.5em 0;
    text-transform: none;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.1px;
    //color: #333333;
    color: #fefefe;

    max-width: 217.17px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &.invite-users {
    display: flex;
    flex-direction: column;
    // width: 282px;
    min-width: 217.17px;
    height: 200px;
    //max-width: 10em;
    list-style: none;
    //align-items: center;
    //justify-content: center;
    //background: rgba(151, 151, 151, 0.1);
    padding: 1rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
    max-height: 70%;
    overflow-x: auto;
    margin-top: 30px;
    margin-bottom: 0px;
    //max-height: 280px;
  }

  .player {
    &.container {
      display: flex;
      flex-direction: row;
      max-width: 10em;
      padding: 1px;
      margin: 5px;
      border-radius: $borderRadius;
      align-items: center;

      color: #000000;
      box-shadow: none;
      min-height: 23px;
      //font-size: 1em;
    }
    .person-icon {
      font-family: "Material Icons";
      font-style: normal;
      border-radius: 20%;
      //margin-left: 0.5em;
      font-size: 20px;
      color: #92929d;
      border: 2px solid #92929d;

      padding: 3px;
      padding-right: 6px;
    }

    &.username {
      font-weight: 500;
      color: #000000;
      margin-left: 0.5em;
      font-size: 18px;
    }
  }

  &.list-box {
    overflow-y: auto;
    display: flex;
    flex-direction: column;
  }
}
