@import "styles/theme";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap");

.login {
  &.container {
    display: flex;
    position: fixed;
    width: 100%;
    height: 100%;
  }
  &.image {
    background-image: url("../../../public/login.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
  }

  &.title {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    color: #333333;
    min-width: fit-content;
    min-width: 250px;
    padding-top: 110px;
  }

  .form {
    display: flex;
    flex-direction: column;
    //justify-content: center;
    width: 50%;
    height: 100%;
    font-size: 16px;
    font-weight: 300;
    padding-left: 120px;
    padding-right: 120px;
    background-color: #ffffff;
    transition: opacity 0.9s ease, transform 0.9s ease;
    min-width: 450px;
    position: absolute;
    right: 0;
  }

  &.field {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 2.5em;
    border: 1px solid rgba(102, 102, 102, 0.35);
    border-radius: 12px;
    max-width: 320px;
    margin-top: 4em;
  }

  &.input {
    height: 35px;
    width: 100%;
    padding-left: 15px;
    margin-left: -2px;
    border: none;
    border-radius: 0.75em;
    margin-bottom: 35px;
    background: transparentize(white, 0.8);
    color: #666666;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    //min-width: fit-content;
  }

  &.toggle-password-button {
    // display: flex;
    border: none;
    background: none;
    color: #a5a5a5;
    font-family: "Poppins";
    justify-content: center;
    margin-left: -50px;
    margin-top: -33px;
    font-size: 12px;
    cursor: pointer;
  }

  &.label {
    margin-bottom: 10px;

    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #666666;
  }

  &.button-container {
    display: flex;
    justify-content: normal;
    margin-top: 2em;
    min-width: 450px;
  }

  .register-text {
    margin-top: 1.5em;
    font-family: "Poppins";
    font-size: 16px;
    color: #333333;
  }
  .register-link {
    color: #3f3a3a;
    text-decoration: underline;
    cursor: pointer;
    font-weight: 700;
  }

  &.image {
    display: flex;
    width: 900px;
  }

  &.text {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: rgba(102, 102, 102, 0.8);
    min-width: 300px;
  }

  &.small-text {
    font-weight: 200;
    font-size: 12px;
    color: rgba(102, 102, 102, 0.8);
    text-align: end;    
    margin-right: 8px;
    width: 65%;
  }
}
