/* Logo */

@import "styles/theme";

.navbar {
  &.container {
    display: flex;

    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 60px;
    background-color: #ffffff;
    border-bottom: 1px solid rgba(102, 102, 102, 0.25);
    padding: 0 40px;
    z-index: 1;
    position: fixed;
  }

  &.logo {
    // background-image: url("../../../public/logo.png");
    width: 200px;
    height: 40px;
  }

  /* Button Container */

  .button-container {
    display: flex;
    align-items: center;

    .button {
      cursor: pointer;
      transition: background-color 0.2s ease-in-out;
      border-radius: 8px;
      margin-left: 10px;
      height: 45px;
      font-family: "Poppins";
      font-weight: 400;
      font-size: 15px;
      line-height: 22px;
      display: flex;
      align-items: center;
      padding: 0 12px;
    }
  }

  .register-button {
    background-color: #ffffff;
    border: 1px solid #333333;
    color: #333333;
  }

  .login-button {
    background-color: #333333;
    color: #ffffff;
    text-align: center;
    padding-left: 5px;
  }

  .button:hover {
    background-color: #f2f2f2;
  }

  .login-button:hover {
    background-color: #1a1a1a;
  }

  // &.button-container .text {
  //   // margin-right: 10px;
  // }

  /* Notification Icon */
  .notification-icon {
    font-family: "Material Icons";
    font-size: 24px;
    color: #333333;
    border: 1px solid #333333;
    background-color: #ffffff;
    border-radius: 50%;
    padding: 4px;
    margin-right: 10px;
    cursor: pointer;
    position: relative;
  }

  .has-new-notifications::after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: red;
  }
  //////////////////////

  /* Profile Icon */
  .profile-icon {
    font-family: "Material Icons";
    font-size: 24px;
    color: #333333;
    border: 1px solid #333333;
    background-color: #ffffff;
    border-radius: 50%;
    padding: 4px;
    margin-right: 10px;
    cursor: pointer;
  }
  .navbar a {
    text-decoration: none;
  }

  .home-icon {
    font-family: "Material Icons";
    font-size: 24px;
    color: #333333;
    border: 1px solid #333333;
    background-color: #ffffff;
    border-radius: 50%;
    padding: 4px;
    margin-right: 10px;
    cursor: pointer;
  }
}
