@import "styles/theme";

.register {
  &.container {
    margin-top: 2em;
    min-height: 300px;
    /* we include the center mixin defined in _theme.scss and save three duplicate lines :) */
    @include center;
    flex-direction: column;
  }
  &.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    max-width: 30em;
    height: 20em;
    font-size: 16px;
    font-weight: 300;
    padding-left: 37px;
    padding-right: 37px;
    border-radius: 0.75em;
    background-color: $background;
    transition: opacity 0.9s ease, transform 0.9s ease;
    box-shadow: $dropShadow;
  }
  &.field {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &.input {
    height: 35px;
    width: 100%;
    padding-left: 15px;
    margin-left: -2px;
    border: none;
    border-radius: 0.75em;
    margin-bottom: 20px;
    background: transparentize(white, 0.8);
    color: $textColor;
  }

  &.toggle-password-button {
    // display: flex;
    border: none;
    background: none;
    color: #a5a5a5;
    justify-content: center;
    margin-left: -41px;
    margin-top: -15px;
    font-size: 12px;
    cursor: pointer;
  }

  &.label {
    color: $textColor;
    margin-bottom: 10px;
    font-weight: 300;
  }
  &.button-container {
    display: flex;
    justify-content: center;
    margin-top: 2em;
  }

  .login-text {
    margin-top: 1.5em;
  }
  .login-link {
    color: #3f3a3a;
    text-decoration: underline;
    cursor: pointer;
  }
}
