@import "styles/theme";

.app-container {
  background-image: url("../../../public/food.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  top: 60px;
  position: fixed;
  overflow-y: auto; // aimed at allowing people with smaller screen to see all the content of the page
  overflow-x: auto;
}
