@import 'styles/theme';

.primary-button {
  &:hover {
    transform: translateY(-2px);
  }
  &:disabled {
    cursor: default;
    opacity: 0.4;
    &:hover {
      transform: none;
    }
  }
  padding: 6px;

  font-family: 'Poppins';
  font-weight: 400;
  font-size: 22px;
  font-style: normal;
  color: #FFFFFF;
  text-align: center;

  height: 60px;
  width: 3px;
  border: none;
  border-radius: 32px;
  cursor: pointer;
  opacity: 0.25;
  background: #111111;
  transition: all 0.3s ease;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}