.list {
  &.todo-list {
    display: flex;
    flex-direction: column;
    min-height: 205px;
    //position: absolute;
    overflow: hidden;
    width: 90%;

    .todo {
      height: 30px;
      background: #ededed;
      padding: 3px 10px;
      margin-bottom: 6px;
      border-radius: 0.75em;
      border: 1px solid #e1e1e1;
      justify-content: space-between;
      color: #333333;
      align-items: center;

      &.todo-text {
        cursor: pointer;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      &.todo-completed {
        text-decoration: line-through;
      }

      & button {
        color: #333333;
        background: #ededed;
        border: 0;
        outline: 0;
      }
    }

    &.form {
      display: flex;
    }
    .input {
      background: none;
      border: none;
      color: #333333;
      width: 100%;
    }

    .button {
      color: #333333;
      background: #ededed;
      border: 1px solid #e1e1e1;
      border-top-right-radius: 0.75em;
      border-bottom-right-radius: 0.75em;
      border-left: 0px;
      padding: 0 15px;
      outline: 0;
      cursor: pointer;
    }

    .suggestions {
      display: flex;
      flex-direction: column;
      //position: absolute;
      //top: calc(100%);
      width: 90%;
      max-height: 200px;
      overflow-y: auto;
      z-index: 1;
      background-color: #fff;
      border-radius: 0.75em;
      border: 1px solid #e1e1e1;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
      padding: 5px;
      margin: 0;
    }

    .list.suggestion {
      padding: 8px;
      cursor: pointer;
      background-color: #fff;
    }

    &.list.suggestion:hover {
      background-color: #ddd;
    }
  }

  &.icon {
    font-family: "Material Symbols Outlined";
    font-style: normal;
    font-weight: normal;
  }
}
